{
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "build/logs/infection/infection.log",
    "summary": "build/logs/infection/summary.log",
    "perMutator": "build/logs/infection/per-mutator.md",
    "stryker": {
      "badge": "/^master$/"
    }
  }
}