<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        forceCoversAnnotation="true"
        defaultTestSuite="all">
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">generated/</directory>
        </include>
        <exclude>
            <file>generated/LookupTable.php</file>
        </exclude>
    </coverage>
</phpunit>
